@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

/************** Global ***************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup,
 var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer,
header, hgroup, menu, nav, section, summary, time, mark, audio, video
 { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; font-family: 'Lato', sans-serif !important;}
svg {
  stroke-width: 5;
  pointer-events: none;
  vertical-align: bottom;
}

body{
  -webkit-transition: all .3s; /* For Safari 3.1 to 6.0 */
  transition: all .3s;
}

/************ Layout ***********/
nav{
  position: absolute;
  top: 0px;
  left: -160px;
  bottom: 0px;
  width: 200px;
  background: #3c4047;
  color: white;
  -webkit-transition: all .3s; /* For Safari 3.1 to 6.0 */
  transition: all .3s;
}

nav:after{
  font-weight: 100;
  content: ">";
  position: absolute;
  right: 10px;
  color: white;
  top: 50%;
  font-size: 30px;
}

nav:hover:after{
  content: "<";
}

#stats{
  position: absolute;
  top: 0px;
  left: 40px;
  right: 0px;
  height: 40px;
  background: #3c4047;
  padding: 9px;
  box-sizing: border-box;
  color: white;
  -webkit-transition: all .3s; /* For Safari 3.1 to 6.0 */
  transition: all .3s;
  font-weight: 300;
}

#stats .stat-item{
  float: left;
  margin-right: 30px;
}

#game{
  position: absolute;
  top: 40px;
  left: 40px;
  right: 0px;
  bottom: 0px;
  padding: .5% 0 0 .5%;
  -webkit-transition: all .3s; /* For Safari 3.1 to 6.0 */
  transition: all .3s;
}

nav:hover{
  left: 0px;
}

nav:hover + #stats, nav:hover + #stats + #game{
  left: 200px;
}

nav h1{
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
  padding: 10px 0;
}

nav ul{
  width: 100%;
}

nav li{
  padding: 10px;
  font-weight: 300;
}

nav li:hover{
  background: rgba(0,0,0, .1);
  cursor: pointer;
}

nav li.pressed{
  background: rgba(0,0,0, .2);
}

nav #timer{
  font-weight: 100;
  padding: 0px 50px;
}

.cardrow {
  width: 100%;
}

.cardrow:after{
  content: "";
  display: table;
  clear: both;
}

.card {
  display: block;
  float: left;
  position: relative;
  width: 23.75%;
  margin: .5%;
  overflow: hidden;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
  -webkit-transition: all .3s; /* For Safari 3.1 to 6.0 */
  transition: all .3s;
  border: 1px solid #D8D8D8;
  cursor: pointer;
}

.history-h {
  background: #3c4047;
  color: white;
  padding: 4px;
  font-size: 12px;
  line-height: 14px;
  vertical-align: middle;
  font-family: 'Lato', sans-serif !important;
}

.minicard {
  width: 4%;
  pointer-events: none;
  padding: 2px;
  margin: .05%;
}

.set-type {
  width: 2%;
  pointer-events: none;
  padding: 2px;
  margin: .05%;
}

.svg-card {
  width:25%;
  height:25%;
}

@media (orientation: portrait) {
  .card {
    width: 32%;
  }
}
.intro-card {
  display: inline-block;
  position: relative;
  width: 24%;
  overflow: hidden;
  text-align: center;
  border-radius: 6px;
}
.svg-card {
  width:25%;
  height:25%;
  -webkit-transition: all .3s; /* For Safari 3.1 to 6.0 */
  transition: all .3s;
}

.selected {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
  margin: .2%;
  width: 24.35%;
}
.selected .svg-card {
  width: 25.6%;
  height: 25.6%;
}

.intro-selected {
  background-color: lightgrey;
}

.green {
  color: green;
}
.red {
  color: red;
}
.purple {
  color: purple;
}
.button-row {
  width: 100%;
  margin: 10px 0 0 0;
}

.dark {
  background-color: #3c4047;
}

.dark .card{
  border: 1px solid #5B616B;
}

.dark .vision{
  background: rgba(0,0,0, .2);
}

.dark .selected{
  box-shadow: 0px 0px 10px rgba(255,255,255,0.2);
}

/************** Modal ****************/
.modal {
    width: 90%;
    height: 95%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2%;
    margin-left: 5%;
    padding: 0px;
    display:none;
}
.modal-header .close {
  margin-top: 0;
}
.modal.fade {
  top: 5%;
}
.modal.fade.in {
  top: 0%;
}
.modal-title {
  color: #444444;
  font-family: verdana;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}
.close {
  margin-top:0;
  font-size: 16px;
  line-height: 16px;
  vertical-align: middle;
}
.modal-body {
  color: #444444;
  font-family: verdana;
  max-height: 95%;
}
.modal-body li {
  margin-left: 28px;
}
